.welcomeMsg {
    font-size: 20px;
    background-color: rgb(27, 78, 141);
    padding: 10px;
    border-radius: 10px;
}

.loginPrompt {
    font-size: 20px;
    background-color: rgb(168, 98, 36);
    padding: 10px;
    border-radius: 10px;
}       